@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Lora, serif;
}

@layer base {
    :root {
        --color-bg: 35, 56%, 94%;
        --color-bg-light: 30, 100%, 98%;
        --color-bg-dark: 38, 38%, 85%;

        --color-primary: 38, 41%, 45%;
        --color-primary-dark: 38, 47%, 37%;

        --color-secondary: 60, 30%, 33%;
        --color-secondary-light: 60, 27%, 47%;

        --color-text: 0, 0%, 12%;
        --color-text-muted: 60, 7%, 37%;

        --color-accent1: 7, 72%, 67%;
        --color-accent2: 28, 84%, 76%;
        --color-accent3: 162, 29%, 69%;

    }
}

@layer components {
    .container-wide {
        @apply max-w-7xl mx-auto px-10 sm:px-8 lg:px-8 py-8 ;
    }

    [class^="scroll-animate"] {
        opacity: 0;
    }

}
