---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import MainHero from "../components/MainHero.astro";
import DateHero from "../components/DateHero.astro";
import LocationHero from "../components/LocationHero.astro";
import Countdown from "../components/Countdown.astro";
import OurStory from "../components/OurStory.astro";
import ScheduleActivities from "../components/ScheduleActivities.astro";
import HeroTips from "../components/HeroTips.astro";
import PictureHero from "../components/PictureHero.astro";
import Carrousel from "../components/Carrousel.astro";
import Modal from "../components/Modal.astro";
import Form from "../components/Form.astro";
import EndHero from "../components/EndHero.astro";
---

<Layout>
    <Header />
    <section class="flex items-center justify-center flex-col gap-20 mb-20">
        <MainHero/>
        <section class="w-full bg-[url(/images/background.jpg)] bg-contain  md:bg-cover flex flex-col items-center justify-center gap-20 mb-20">
            <DateHero />
            <LocationHero />
            <Countdown />
            <OurStory />
        </section>
    </section>
    <img src="/images/background-crop-top.webp" alt="bg" class="w-full" />
    <section class="w-full bg-[url(/images/background-accepted.jpg)] bg-contain flex flex-col items-center justify-center gap-20">
        <ScheduleActivities />
        <HeroTips />
        <PictureHero />
        <Carrousel/>
        <Form />
        <EndHero />
    </section>
    <img src="/images/background-crop-bot.webp" alt="bg" class="w-full" />
    <Modal />

</Layout>
