---
import Date from '../../public/images/date.svg'
---

    <section class="container-wide flex items-center justify-center flex-col gap-8">
        <Date class="w-[80%] h-[150px] md:h-auto md:w-2/3 scroll-animate-fade-in" />
        <p class="italic text-primary uppercase tracking-[6px]" >A las 12:00 hrs.</p>
        <p class="text-primary italic text-center md:max-w-[50%] text-lg" >Tu presencia es muy importante para nosotros en este día tan especial.</p>
    </section>
