---
import Date from '../../public/images/date.svg'
---

    <section class="container-wide flex items-center justify-center flex-col gap-8">
        <div class="w-full flex items-center justify-center">
            <Date class="w-[60%] md:w-1/2 animate-fade-in" />
        </div>
        <p class="italic text-primary uppercase tracking-[6px]" >de 2026 a las 12:00 hrs.</p>
        <p class="text-primary italic text-center md:max-w-[50%] text-lg" >Tu presencia es muy importante para nosotros en este día tan especial. ¡Por favor no faltes!</p>
    </section>
