---
import Logo from "../../public/images/logo.svg"
---



<section class="container-wide flex items-center justify-center flex-col gap-2">
  <p class="text-4xl text-secondary italic tracking-widest scroll-animate-fade-in">¡Te esperamos!</p>
  <Logo class="w-[70%] scroll-animate-fade-in" />
</section>