---
import Dishes from '../../public/images/dishes.svg'
import { Icon } from 'astro-icon/components'
---


<section class="container-wide flex items-center justify-around text-primary gap-12 flex-wrap">
    <div class="flex items-center justify-center flex-col gap-4" >
        <img src="/images/church.webp" class="w-40 aspect-square scroll-animate-fade-in-left" alt="Iglesia"/>
        <p class="uppercase tracking-[5px] text-xl font-[500] py-2 scroll-animate-fade-in-right">iglesia</p>
        <p class="font-bold scroll-animate-fade-in-left">Parroquia Santiago Apóstol</p>
        <p class="text-center scroll-animate-fade-in-left">C. Granada, 78, Distrito Centro, 29015 Málaga</p>
        <a href="https://maps.app.goo.gl/5Hbo7yMo2j2Ysn6o7" target="_blank" class="bg-secondary text-white px-4 py-2 rounded-3xl flex items-center justify-center gap-2 hover:bg-primary-dark scroll-animate-fade-in-right" >
            <Icon size="20px"  name="mdi:map-marker" />
            Abrir en Google Maps
        </a>
    </div>
    <div class="flex items-center justify-center flex-col gap-4" >
        <Dishes class="w-32 h-40 aspect-square scroll-animate-fade-in-right"  />
        <p class="uppercase tracking-[5px] text-xl font-[500] py-2 scroll-animate-fade-in-left">Celebración</p>
        <p class="font-bold scroll-animate-fade-in-right">Finca Carambuco</p>
        <p class="text-center scroll-animate-fade-in-right">Camino los Naranjos, Parcela 2E, San Bernardo.</p>
        <a href="https://maps.app.goo.gl/kecgGTY7LacqoUS59" target="_blank" class="bg-secondary text-white px-4 py-2 rounded-3xl flex items-center justify-center gap-2 hover:bg-primary-dark scroll-animate-fade-in-left" >
            <Icon size="20px"  name="mdi:map-marker" />
            Abrir en Google Maps
        </a>
    </div>
</section>