---
import HeroMobileText from "../assets/hero-text-mobile.svg"
import HeroDesktopText from "../assets/hero-text-desktop.svg"
---


<section class="flex flex-col items-center justify-center sm:pt-[90px] pt-[60px]">
    <div class="relative">
        <img src="/src/assets/background-desktop.jpg" alt="" class="sm:block hidden max-h-[90dvh]" />
        <img src="/src/assets/background-mobile.jpeg" alt="" class="sm:hidden block max-h-[90dvh]" />
        <div class="flex flex-col h-full w-full items-center justify-around absolute z-40 top-[0] right-[0] py-24 px-14 lg:py-32 xl:py-40" >
            <p class="text-primary uppercase tracking-[5.5px] animate-fade-in">¡Nos casamos!</p>
            <HeroMobileText class="sm:hidden animate-fade-in" />
            <HeroDesktopText class="hidden sm:block sm:max-w-[70%] md:max-w-[50%] lg:pb-20 animate-fade-in" />
            <p class="text-primary text-center italic animate-fade-in text-lg" >Queremos invitarte al dia más importante de nuestras vidas</p>
        </div>
    </div>
</section>