---
---

<audio id="player" src="/audio/web-song.mp3"></audio>

<div id="modal" class="fixed inset-0 z-[200] bg-[url(/images/background.jpg)] bg-contain  md:bg-cover flex flex-col items-center justify-start transition-opacity duration-1000 opacity-100">
  <div class="relative">
    <img src="/images/letter.png" alt="" class="max-w-[375px]" />
    <img src="/images/botanical-seal.png" alt="" class="absolute z-10 w-20 top-[55%] right-[39%]" />
    <div class="bg-[url(/images/bone-paper.png)] absolute top-[70%] right-[10%] bg-cover p-8 rounded-xl text-center w-[300px] h-[400px] flex items-center justify-center flex-col">
      <p class="text-lg text-primary">¡Estas invitado/a a la boda de Francisco y Ana!</p>
      <button id="startButton" class="mt-4 px-6 py-2 bg-secondary text-white rounded-lg hover:bg-secondary-light">
        Comenzar
      </button>
    </div>
  </div>
</div>

<script>
  const modal = document.getElementById('modal');
  const btn = document.getElementById('startButton');
  const audio = document.getElementById('player');

  btn.onclick = () => {
    modal?.classList.remove('opacity-100');
    modal?.classList.add('opacity-0');
    setTimeout(() => {
      modal.style.display = 'none';
      audio.play();
    }, 1000)
  };
</script>
