---
import OurStoryTitle from '../../public/images/our-story.svg'
---


<section class="container-wide flex items-center justify-center w-full gap-20 flex-col md:flex-row">
  <OurStoryTitle class="w-[80%] md:hidden h-full" />
    <img src="/images/couple-pic.jpeg" alt="Couple pic" class="h-[500px] aspect-[3/4] object-cover rounded-2xl"/>
    <div class="flex items-center justify-center flex-col flex-wrap sm:flex-nowrap md:w-1/2" >
      <OurStoryTitle class="w-[70%] hidden md:block h-full mb-16" />
        <p class="text-primary text-lg tracking-widest my-2">Nos conocimos en la universidad y lo que empezó como risas y charlas, acabó, sin darnos cuenta, en un “para siempre”. </p>
        <p class="text-primary text-lg tracking-widest my-2">Entre paseos en moto sin rumbo (ni GPS), viajes con familia y amigos, rutas por la naturaleza y aventuras varias, confirmamos que hacíamos buen equipo.</p>
        <p class="text-primary text-lg tracking-widest my-2">Desde el primer día hubo una conexión especial que hoy sigue intacta, por eso queremos dar un paso más, y comprometernos con todos nuestros seres queridos como testigos de nuestro amor.</p>
    </div>

</section>