---
    import ScheduleActivitiesTitle from '../assets/schedule-activities.svg'
---


<section class="container-wide flex items-center justify-center flex-col w-full gap-10" >
  <ScheduleActivitiesTitle class="w-[80%] h-full"  />
  <p class="text-lg text-center text-secondary mb-16 md:w-1/2" >Recuerda organizarte con tiempo para que no te pierdas ningún momento de esta ceremonia tan especial para nosotros.</p>
  <img src="/src/assets/schedule.png" alt="" class="w-[70%] md:block hidden" />
  <img src="/src/assets/schedule-vertical.png" alt="" class="w-[70%] md:hidden block" />
</section>